<table>
    <tr id="navbar">
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Toolkit Menu" alt=""></td>
        <td><a href="{{site.baseurl}}/student/calendar">Calendar</a></td>
        <td><a href="{{site.baseurl}}/student">Student Toolkit</a></td>
        <td><a href="{{site.baseurl}}/teacher">Teacher Toolkit</a></td>
    </tr>
</table>

<!-- keyboard shortcuts -->
<script>
    window.baseurl = "{{ site.baseurl }}";
</script>
<script src="{{ site.baseurl }}/assets/js/keyboard-shortcuts.js"></script>